<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.cafebazaar.poolakey">

    <queries>
        <package android:name="ir.mservices.market" />
    </queries>

    <uses-permission android:name="ir.mservices.market.BILLING" />

    <application>
        <receiver android:name=".receiver.BillingReceiver"
              android:exported="true"     
                  >
            <intent-filter>
                <action android:name="ir.mservices.market.purchase" />
                <action android:name="ir.mservices.market.billingSupport" />
                <action android:name="ir.mservices.market.consume" />
                <action android:name="ir.mservices.market.getPurchase" />
                <action android:name="ir.mservices.market.skuDetail" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
